{% extends 'templates/base.html' %}
{% load static %} 

{% block content %}
<div style="outline: 2px solid #979797;">
   <div style="outline: 2px solid #979797;margin-top: 1%">
   <h3 align=left>Магазин<a href=""><button style="margin-bottom: 1%;margin-left: 5%" type="button" class="btn btn-light">Создать новую тему</button></a></h3>
   </div>
    <table style="width: 100%;">
       <thead style="background: #EDEEF0">
        <tr>
         <td align=center style="width: 15%;"> Дата </td>
         <td align=center style="width: 10%;"> Пользователь </td>
         <td align=center style="width: 40%;"> Заголовок </td>
         <td align=center style="width: 15%;"> Доп.Инфо. </td>
         <td align=center style="width: 10%;"> Сообщений </td> 
         <td align=center style="width: 10%;"> Просмотров </td> 
        </tr>
       </thead>
       <tbody style="background: #F7F7F7">
        <tr>
         <td align=center><p>11.11.11</p></td>
         <td align=center><p>Тот кто задал вопрос</p></td> 
         <td align=center><p>Трындец</p></td> 
         <td align=center><p><a href="{{ order.get_absolute_url }}"><button  class="btn btn-outline-dark">Подробнее</button></a></p></td>
         <td align=center><p>12</p></td> 
         <td align=center><p>88000</p></td>  
        </tr>
       </tbody>
    </table>
</div>
<div style="outline: 2px solid #979797;">
   <div style="outline: 2px solid #979797;margin-top: 1%">
   <h3 align=left>Проектировщики<a href=""><button style="margin-bottom: 1%;margin-left: 5%" type="button" class="btn btn-light">Создать новую тему</button></a></h3>
   </div>
    <table style="width: 100%;">
       <thead style="background: #EDEEF0">
        <tr>
         <td align=center style="width: 15%;"> Дата </td>
         <td align=center style="width: 10%;"> Пользователь </td>
         <td align=center style="width: 40%;"> Заголовок </td>
         <td align=center style="width: 15%;"> Доп.Инфо. </td>
         <td align=center style="width: 10%;"> Сообщений </td> 
         <td align=center style="width: 10%;"> Просмотров </td> 
        </tr>
       </thead>
       <tbody style="background: #F7F7F7">
        <tr>
         <td align=center><p>11.11.11</p></td>
         <td align=center><p>Тот кто задал вопрос</p></td> 
         <td align=center><p>Трындец</p></td> 
         <td align=center><p><a href="{{ order.get_absolute_url }}"><button  class="btn btn-outline-dark">Подробнее</button></a></p></td>
         <td align=center><p>12</p></td> 
         <td align=center><p>88000</p></td>  
        </tr>
       </tbody>
    </table>
</div>
<div style="outline: 2px solid #979797;">
   <div style="outline: 2px solid #979797;margin-top: 1%">
   <h3 align=left>Дизайнеры<a href=""><button style="margin-bottom: 1%;margin-left: 5%" type="button" class="btn btn-light">Создать новую тему</button></a></h3>
   </div>
    <table style="width: 100%;">
       <thead style="background: #EDEEF0">
        <tr>
         <td align=center style="width: 15%;"> Дата </td>
         <td align=center style="width: 10%;"> Пользователь </td>
         <td align=center style="width: 40%;"> Заголовок </td>
         <td align=center style="width: 15%;"> Доп.Инфо. </td>
         <td align=center style="width: 10%;"> Сообщений </td> 
         <td align=center style="width: 10%;"> Просмотров </td> 
        </tr>
       </thead>
       <tbody style="background: #F7F7F7">
        <tr>
         <td align=center><p>11.11.11</p></td>
         <td align=center><p>Тот кто задал вопрос</p></td> 
         <td align=center><p>Трындец</p></td> 
         <td align=center><p><a href="{{ order.get_absolute_url }}"><button  class="btn btn-outline-dark">Подробнее</button></a></p></td>
         <td align=center><p>12</p></td> 
         <td align=center><p>88000</p></td>  
        </tr>
       </tbody>
    </table>
</div>
<div style="outline: 2px solid #979797;">
   <div style="outline: 2px solid #979797;margin-top: 1%">
   <h3 align=left>Мебельщики<a href=""><button style="margin-bottom: 1%;margin-left: 5%" type="button" class="btn btn-light">Создать новую тему</button></a></h3>
   </div>
    <table style="width: 100%;">
       <thead style="background: #EDEEF0">
        <tr>
         <td align=center style="width: 15%;"> Дата </td>
         <td align=center style="width: 10%;"> Пользователь </td>
         <td align=center style="width: 40%;"> Заголовок </td>
         <td align=center style="width: 15%;"> Доп.Инфо. </td>
         <td align=center style="width: 10%;"> Сообщений </td> 
         <td align=center style="width: 10%;"> Просмотров </td> 
        </tr>
       </thead>
       <tbody style="background: #F7F7F7">
        <tr>
         <td align=center><p>11.11.11</p></td>
         <td align=center><p>Тот кто задал вопрос</p></td> 
         <td align=center><p>Трындец</p></td> 
         <td align=center><p><a href="{{ order.get_absolute_url }}"><button  class="btn btn-outline-dark">Подробнее</button></a></p></td>
         <td align=center><p>12</p></td> 
         <td align=center><p>88000</p></td>  
        </tr>
       </tbody>
    </table>
</div>
<div style="outline: 2px solid #979797;">
   <div style="outline: 2px solid #979797;margin-top: 1%">
   <h3 align=left>Столяра<a href=""><button style="margin-bottom: 1%;margin-left: 5%" type="button" class="btn btn-light">Создать новую тему</button></a></h3>
   </div>
    <table style="width: 100%;">
       <thead style="background: #EDEEF0">
        <tr>
         <td align=center style="width: 15%;"> Дата </td>
         <td align=center style="width: 10%;"> Пользователь </td>
         <td align=center style="width: 40%;"> Заголовок </td>
         <td align=center style="width: 15%;"> Доп.Инфо. </td>
         <td align=center style="width: 10%;"> Сообщений </td> 
         <td align=center style="width: 10%;"> Просмотров </td> 
        </tr>
       </thead>
       <tbody style="background: #F7F7F7">
        <tr>
         <td align=center><p>11.11.11</p></td>
         <td align=center><p>Тот кто задал вопрос</p></td> 
         <td align=center><p>Трындец</p></td> 
         <td align=center><p><a href="{{ order.get_absolute_url }}"><button  class="btn btn-outline-dark">Подробнее</button></a></p></td>
         <td align=center><p>12</p></td> 
         <td align=center><p>88000</p></td>  
        </tr>
       </tbody>
    </table>
</div>
{% endblock %}