{% extends 'templates/base.html'%}
{% load static %}

{% block content %}
<div style="margin-top: 5%">
<div class="card" style="width: 18rem;float:left;margin-left: 20%">
  <img src="{% static 'img/fiz.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="{%url 'regjur'%}"><button style="margin-right: 4%" type="button" class="btn btn-outline-dark">Юридическое лицо</button></a>
  </div>
</div>
<div class="card" style="width: 18rem;float:right;margin-right: 20%">
  <img src="{% static 'img/fizi.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="{%url 'regphis'%}"><button type="button" class="btn btn-outline-dark">Физическое лицо</button></a>
  </div>
</div>
</div>
{% endblock %}

{% block title %}
	Регистрация
{% endblock %}