{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="static/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	<title>
		{% block title %}
			Obana-rus.com
		{% endblock %}
	</title>
</head>
<body>
<header>
	{% block autoresation %}
		<div style="float:right;margin-top: 2%;margin-right: 2%">
    	<button type="button" class="btn btn-outline-dark">Вход</button>
    	<button type="button" class="btn btn-outline-dark">Регистрация</button>
    </div>
	{% endblock %}
	<div class="container11"><a class="border-animation" href="/">
      <div class="border-animation__inner">obAna</div></a>
    </div>
</header>
<section>
  <div class="container-fluid">
  	<div class="row">
  		<div style="background-color: #737373;min-height: 100vh;" class="col-md-2 col-lg-2">
<div style="margin-top: 5%" class="menu">
<div class="fancy-hover">
  <a href=""><i class="fa fa-home" aria-hidden="true"></i>Главная</a>
</div>
<div class="fancy-hover">
  <a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i>Магазин</a>
</div>
<div class="fancy-hover">
  <a href=""><i class="fa fa-comments-o" aria-hidden="true"></i>Форум</a>
</div>
<div class="fancy-hover">
  <a href=""><i class="fa fa-globe" aria-hidden="true"></i>О нас</a>
</div>
<div class="fancy-hover">
  <a href=""><i class="fa fa-calculator" aria-hidden="true"></i>Калькулятор</a>
</div>
<div class="fancy-hover">
  <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i>Галерея</a>
</div>
</div>
		</div>
		<div class="col-md-10 col-lg-10" >
			{% block content %}
				Home page content
			{% endblock %}
		</div>
	</div>
  </div>
</body>
</html>